* {
    box-sizing: border-box;
}

body{
    background-color:white;
    
}




.nav-bar{
    width:370px;
    height: 100%;
    background-color:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    margin:-10px;
    z-index:10;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
  color:black;
}

.name{
    /* background-color:red; */
    margin-left:45px;
    margin-top:36px;
    
    font-size: 24px;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
  color:black;
  width:45%;
}


    

.info{
  font-size: 16px;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
  color:black;
  margin-left:45px;
}

.contactinfo{
  font-size: 12px;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
  color:black;
  margin-left:45px;
  padding-top:10px;
  /* text-decoration: underline; */
}

.contactinfo:hover{
  font-style:italic;
}

.welcome{
  font-size: 12px;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
  color:black;
  margin-left:45px;
  padding-top:10px;
}

.nav-buttons{
    /* background-color:red; */
    margin:10px;
    text-align:center;
    padding:30px 0;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;

}


.project{
    /* margin:50px; */
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top:100px;
    margin-right:45px;
    align-items:flex-end;

}

.text{
    
    font-size: 14px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 43;
    width:60%;
    display:flex;
    flex-direction:column;
    gap: 5px;
    color:black;
    align-items:flex-start;
    text-align: left;
    margin-right:45px;
    
}

.title{
    flex-direction:row;
    font-size: 18px;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
    padding-right:50px;
    margin-top:-8px;
    color:black;
}

.body{
    flex-direction:row;
    font-size: 14px;
    font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
    padding-right:50px;
    margin-top:0;
    color:black;
}

.main-carousel{
    /* margin-top:300px; */
    width:60%;
    /* display:flex;
    justify-content: center;
    align-items:center; */
    
    margin-bottom:20px;
    margin-right:45px;
}

.carousel-cell {
    width: 70%; 
    height: 160px; 
    margin-right: 10px;
}

.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}

.carousel-image {
    display: block;
    width:100%;
    /* height: 200px; */
    /* set min-width,
       allow images to determine cell width */
    min-width: 150px;
    max-width: 100%;
    margin-right: 10px;
    /* vertically center */
    
    
  }


  .flickity-button {
    background: transparent;
    
  }

  .flickity-button:hover{
    background:transparent;

  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: black;
    transition:.2s;
    
  }

  .flickity-button-icon:hover {
    fill: black;
    opacity:50%;
  }


  
.image-container{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left:70px;
  margin-bottom:70px;
}

.grid-img{
  height:200px;
  object-fit:contain;

}

.grid-img-width{
  width:220px;
  object-fit:contain;
}

.proj-title{
  
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
    margin-left:70px;
    margin-top:70px;
    margin-bottom:30px;
    color:black
}

.proj-body{
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
    margin-left:70px;
    margin-right:70px;
    margin-bottom:30px;
    font-size: 18px;
    color:black;
    
}

.welc{
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 43;
  font-size: 16px;
  margin-top:100px;
  margin-bottom:100px;
  margin-left:70px;
color:black;
}

@media screen and (max-width: 1100px) {

  .nav-bar{
    width:100%;
    height:250px;
   position:static;
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align:left;
    top:0;
    margin:0 auto;
    
  
}

.name{
  margin:0;
  width:60%;
}

.info{
  margin:0;
  width:60%;
}

a{
  margin:0;
  width:60%;

}

.contactinfo{
  margin:0;
}

.welcome{
  margin:0;
  width:60%;
}

.project{
  display:flex;
  align-items: center;
  margin-top:50px;
}

.main-carousel{
  margin:0;
  margin-bottom:50px;
}

.text{
  margin:0;
  margin-top:-30px;
}
}

@media screen and (max-width: 500px) {
  
.nav-bar{
  width:100%;
  
}

.name{
  width:100%;
  padding:5px;
  margin-top:10px;
}

.info{
  width:100%;
  padding-left:5px;
}

.contactinfo{
  width:100%;
  padding-left:5px;
}

a{
  width:100%;
  padding-left:5px;
}

.welcome{
  width:100%;
  padding-left:5px;
}

  .project{
    margin:0px auto;
    margin-top:80px;
    
    width:100%;
  }
  .main-carousel{
    width:100%;
  }
    .text{
      width:100%;
      padding:5px;
    }

    .flickity-prev-next-button {
      width: 40px;
      height: 40px;
    }
  
}