* {
    box-sizing: border-box;
}

body{
    background-color:rgb(236, 229, 227);
    
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  

.nav-bar{
    width:100%;
    height: 100px;
    background-color:rgb(236, 229, 227);
    display:flex;
    position: fixed;
    top:0;
    margin:-10px;
    z-index:10;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.name{
    /* background-color:red; */
    margin-left:30px;
    margin-top:10px;
    padding:30px 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nav-buttons{
    /* background-color:red; */
    margin:10px;
    text-align:center;
    padding:30px 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.welcome{
    display:flex;
    text-align:center;
    align-items:center;
    margin:100px;
    margin-top:100px;
    padding:50px;
    font-size: 72px;
    font-family: "imbue", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color:rgb(1, 56, 33);

}

.project{
    /* margin:50px; */
    display:flex;
    

}

.text{
    margin:30px;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width:100%;
    display:flex;
    flex-direction:column;
    gap: 10px;
    
}

.title{
    flex-direction:row;
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-right:50px;
    margin-top:-8px;
}

.body{
    flex-direction:row;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-right:50px;
    margin-top:0;
}

.main-carousel{
    /* margin-top:300px; */
    width:100%;
    /* display:flex;
    justify-content: center;
    align-items:center; */
    
    margin:30px;
}

.carousel-cell {
    width: 100%; /* full width */
    height: 160px; /* height of carousel */
    margin-right: 10px;
}

.carousel-image {
    display: block;
    width:100%;
    /* height: 200px; */
    /* set min-width,
       allow images to determine cell width */
    min-width: 150px;
    max-width: 100%;
    margin-right: 10px;
    /* vertically center */
    
    
  }


  .flickity-button {
    background: transparent;
  }

  .flickity-button:hover{
    background:transparent;

  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
    width: 80px;
    height: 80px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: rgb(236, 229, 227);
    transition:.2s;
  }

  .flickity-button-icon:hover {
    fill: rgb(236, 229, 227);
    opacity:50%;
  }


  
.image-container{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left:70px;
  margin-bottom:70px;
}

.grid-img{
  height:200px;
  object-fit:contain;

}

.grid-img-width{
  width:220px;
  object-fit:contain;
}

.proj-title{
  
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin-left:70px;
    margin-top:70px;
    margin-bottom:30px;
    color:black
}

.proj-body{
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
    margin-left:70px;
    margin-right:70px;
    margin-bottom:30px;
    font-size: 18px;
    color:black;
    
}

.welc{
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top:100px;
  margin-bottom:100px;
  margin-left:70px;
color:black;
}